<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel ="icon" href="/img/cloudy.png">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class = "main">
        {{>header}}
        <img class="portrait" src="./img/me.JPG">
        <p> This app is created by Nav Singh! </p>
    </div>


{{>footer}}

</body>


</html>