<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel ="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class = "main">
        {{>header}}
        <p> This is the weather page. Use it to get your weather</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="mesg-1"></p>
        <p id="mesg-2"></p>
        <p id = 'msg-3'></p>
    </div>

{{>footer}}
 <script src="./JS/app.js"></script>

</body>


</html>
